# Import libraries

In [22]:
import numpy as np
import pandas as pd

from tqdm.auto import tqdm

import os

# Global variables

In [58]:
DATA_DIR = 'data'

UNIQUE_TRACKS_DATA_FILE_NAME = 'p02_unique_tracks.txt'
UNIQUE_TRACKS_DATA_FILE_PATH = os.path.join(DATA_DIR,
                                            UNIQUE_TRACKS_DATA_FILE_NAME)


TRIPLETS_DATA_FILE_NAME = 'train_triplets.txt'
TRIPLETS_DATA_FILE_PATH = os.path.join(DATA_DIR,
                                       TRIPLETS_DATA_FILE_NAME)


MSD_TAGTRAUM_FILE_NAME = 'p02_msd_tagtraum_cd2.cls'
MSD_TAGTRAUM_FILE_PATH = os.path.join(DATA_DIR,
                                      MSD_TAGTRAUM_FILE_NAME)

# Top-250 tracks

It should return a dataframe with the following fields: index number, artist name, track title, play count. The table should be sorted by
the play count descendingly.

In [10]:
unique_tracks = pd.read_csv(UNIQUE_TRACKS_DATA_FILE_PATH,
                            sep='<SEP>',
                            names=('track_id', 'song_id', 'artist', 'title'),
                            engine='python')
unique_tracks.head()

             track_id             song_id            artist              title
0  TRMMMYQ128F932D901  SOQMMHC12AB0180CB8  Faster Pussy cat       Silent Night
1  TRMMMKD128F425225D  SOVFVAK12A8C1350D9  Karkkiautomaatti        Tanssi vaan
2  TRMMMRX128F93187D9  SOGTUKN12AB017F4F1    Hudson Mohawke  No One Could Ever
3  TRMMMCH128F425532C  SOBNYVR12A8C13558C       Yerba Brava      Si Vos Querés
4  TRMMMWA128F426B589  SOHSBXH12A8C13B0DF        Der Mystic   Tangle Of Aspens

In [17]:
unique_tracks.shape

(1000000, 4)

In [12]:
triplets = pd.read_csv(TRIPLETS_DATA_FILE_PATH,
                       sep='\t',
                       names=('user_id', 'song_id', 'play_count'),
                       engine='python')
triplets.head()

                                    user_id             song_id  play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1

In [18]:
triplets.shape

(48373586, 3)

In [43]:
top_250_tracks = triplets.sort_values(by=['play_count'], ascending=False).head(250)

In [44]:
top_250_tracks.head()

,user_id,song_id,play_count
31847879,093cb74eb3c517c5179ae24caf0ebec51b24d2a2,SOAOSDF12A58A779F1,9667
18651017,c11dea7d1f4d227b98c5f2a79561bf76884fcf10,SOZTEZR12A8C14204B,3534
12857055,d8e6fa08d73821f305b9a3af1cf1e0a704473d82,SOBONKR12A58A7A7E0,3532
48274295,1854daf178674bbac9a8ed3d481f95b76676b414,SOVLAWN12A81C234AB,2948
30142955,69807196f964e5b063af898fd1cb098fab2e6a1f,SOVQQJO12AB0182328,2381

In [45]:
artists = [unique_tracks[unique_tracks['song_id'] == track[1]]['artist'].values[0]
           for track in tqdm(top_250_tracks.values)]

  0%|          | 0/250 [00:00<?, ?it/s]

In [46]:
artists[:5]

['Ry Cooder', '2Mex', 'Dwight Yoakam', 'Paul Cardall', 'Nouvelle Vague']

In [47]:
titles = [unique_tracks[unique_tracks['song_id'] == track[1]]['title'].values[0]
           for track in tqdm(top_250_tracks.values)]

  0%|          | 0/250 [00:00<?, ?it/s]

In [48]:
titles[:5]

['Corrido de Boxeo',
 'Making Money Off God feat. Bus Driver',
 "You're The One",
 'Sweet Escape',
 'Ca Plane Pour Moi']

In [49]:
top_250_tracks['artist'] = artists
top_250_tracks['title'] = titles
top_250_tracks['id'] = [id for id in range(top_250_tracks.shape[0])]

In [50]:
top_250_tracks.head()

,user_id,song_id,play_count,artist,title,id
31847879,093cb74eb3c517c5179ae24caf0ebec51b24d2a2,SOAOSDF12A58A779F1,9667,Ry Cooder,Corrido de Boxeo,0
18651017,c11dea7d1f4d227b98c5f2a79561bf76884fcf10,SOZTEZR12A8C14204B,3534,2Mex,Making Money Off God feat. Bus Driver,1
12857055,d8e6fa08d73821f305b9a3af1cf1e0a704473d82,SOBONKR12A58A7A7E0,3532,Dwight Yoakam,You're The One,2
48274295,1854daf178674bbac9a8ed3d481f95b76676b414,SOVLAWN12A81C234AB,2948,Paul Cardall,Sweet Escape,3
30142955,69807196f964e5b063af898fd1cb098fab2e6a1f,SOVQQJO12AB0182328,2381,Nouvelle Vague,Ca Plane Pour Moi,4

In [51]:
top_250_tracks = top_250_tracks.drop(['user_id', 'song_id'], axis=1)

In [52]:
top_250_tracks = top_250_tracks.reset_index(drop=True)

In [53]:
top_250_tracks.head()

   play_count          artist                                  title  id
0        9667       Ry Cooder                       Corrido de Boxeo   0
1        3534            2Mex  Making Money Off God feat. Bus Driver   1
2        3532   Dwight Yoakam                         You're The One   2
3        2948    Paul Cardall                           Sweet Escape   3
4        2381  Nouvelle Vague                      Ca Plane Pour Moi   4

In [55]:
cols_order = ['id', 'artist', 'title', 'play_count']
top_250_tracks = top_250_tracks[cols_order]

In [56]:
top_250_tracks.head()

   id          artist                                  title  play_count
0   0       Ry Cooder                       Corrido de Boxeo        9667
1   1            2Mex  Making Money Off God feat. Bus Driver        3534
2   2   Dwight Yoakam                         You're The One        3532
3   3    Paul Cardall                           Sweet Escape        2948
4   4  Nouvelle Vague                      Ca Plane Pour Moi        2381

In [57]:
top_250_tracks.to_csv('top_250_tracks.csv', index=False)

# Top-100 tracks by genre

It should return on a given genre a dataframe with the following fields: index number, artist name, track title, play count. The table should be sorted by the play count descendingly. You should only use the major genre to perform the subtask.

In [59]:
genres = pd.read_csv(MSD_TAGTRAUM_FILE_PATH,
                     sep='\t',
                     names=('trackId', 'majority-genre', 'minority-genre'),
                     comment='#')

In [60]:
genres.head()

              trackId majority-genre minority-genre
0  TRAAAAK128F9318786           Rock            NaN
1  TRAAAAW128F429D538            Rap            NaN
2  TRAAABD128F429CF47           Rock            RnB
3  TRAAADJ128F4287B47           Rock            NaN
4  TRAAADZ128F9348C2E          Latin            NaN