# Import libraries

In [1]:
import numpy as np
import pandas as pd

from tqdm.auto import tqdm

import os

tqdm.pandas()

# Global variables

In [2]:
DATA_DIR = 'data'

UNIQUE_TRACKS_DATA_FILE_NAME = 'p02_unique_tracks.txt'
UNIQUE_TRACKS_DATA_FILE_PATH = os.path.join(DATA_DIR,
                                            UNIQUE_TRACKS_DATA_FILE_NAME)


TRIPLETS_DATA_FILE_NAME = 'train_triplets.txt'
TRIPLETS_DATA_FILE_PATH = os.path.join(DATA_DIR,
                                       TRIPLETS_DATA_FILE_NAME)


MSD_TAGTRAUM_FILE_NAME = 'p02_msd_tagtraum_cd2.cls'
MSD_TAGTRAUM_FILE_PATH = os.path.join(DATA_DIR,
                                      MSD_TAGTRAUM_FILE_NAME)

# Top-250 tracks

It should return a dataframe with the following fields: index number, artist name, track title, play count. The table should be sorted by
the play count descendingly.

In [3]:
unique_tracks = pd.read_csv(UNIQUE_TRACKS_DATA_FILE_PATH,
                            sep='<SEP>',
                            names=('track_id', 'song_id', 'artist', 'title'),
                            engine='python')
unique_tracks.head()

             track_id             song_id            artist              title
0  TRMMMYQ128F932D901  SOQMMHC12AB0180CB8  Faster Pussy cat       Silent Night
1  TRMMMKD128F425225D  SOVFVAK12A8C1350D9  Karkkiautomaatti        Tanssi vaan
2  TRMMMRX128F93187D9  SOGTUKN12AB017F4F1    Hudson Mohawke  No One Could Ever
3  TRMMMCH128F425532C  SOBNYVR12A8C13558C       Yerba Brava      Si Vos Querés
4  TRMMMWA128F426B589  SOHSBXH12A8C13B0DF        Der Mystic   Tangle Of Aspens

In [4]:
unique_tracks.shape

(1000000, 4)

In [5]:
triplets = pd.read_csv(TRIPLETS_DATA_FILE_PATH,
                       sep='\t',
                       names=('user_id', 'song_id', 'play_count'),
                       engine='python')
triplets.head()

                                    user_id             song_id  play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1

In [6]:
triplets.shape

(48373586, 3)

In [15]:
songs_play_count = triplets.groupby(by=['song_id'])['play_count'].sum()

In [17]:
songs_play_count = songs_play_count.reset_index()
songs_play_count.head()

              song_id  play_count
0  SOAAADD12AB018A9DD          24
1  SOAAADE12A6D4F80CC          12
2  SOAAADF12A8C13DF62           9
3  SOAAADZ12A8C1334FB          12
4  SOAAAFI12A6D4F9C66         188

In [18]:
top_250_tracks = songs_play_count.sort_values(by=['play_count'], ascending=False).head(250)

In [19]:
top_250_tracks = top_250_tracks.reset_index(drop=True)
top_250_tracks.head()

              song_id  play_count
0  SOBONKR12A58A7A7E0      726885
1  SOAUWYT12A81C206F1      648239
2  SOSXLTC12AF72A7F54      527893
3  SOFRQTD12A81C233C0      425463
4  SOEGIYH12A6D4FC0E3      389880

In [20]:
artists = [unique_tracks[unique_tracks['song_id'] == track[0]]['artist'].values[0]
           for track in tqdm(top_250_tracks.values)]

  0%|          | 0/250 [00:00<?, ?it/s]

In [21]:
artists[:5]

['Dwight Yoakam',
 'Björk',
 'Kings Of Leon',
 'Harmonia',
 'Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner']

In [22]:
titles = [unique_tracks[unique_tracks['song_id'] == track[0]]['title'].values[0]
           for track in tqdm(top_250_tracks.values)]

  0%|          | 0/250 [00:00<?, ?it/s]

In [23]:
titles[:5]

["You're The One",
 'Undo',
 'Revelry',
 'Sehr kosmisch',
 'Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)']

In [24]:
top_250_tracks['artist'] = artists
top_250_tracks['title'] = titles
top_250_tracks['id'] = [i for i in range(top_250_tracks.shape[0])]

In [25]:
top_250_tracks.head()

,song_id,play_count,artist,title,id
0,SOBONKR12A58A7A7E0,726885,Dwight Yoakam,You're The One,0
1,SOAUWYT12A81C206F1,648239,Björk,Undo,1
2,SOSXLTC12AF72A7F54,527893,Kings Of Leon,Revelry,2
3,SOFRQTD12A81C233C0,425463,Harmonia,Sehr kosmisch,3
4,SOEGIYH12A6D4FC0E3,389880,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...,4

In [27]:
cols_order = ['id', 'artist', 'title', 'play_count']
top_250_tracks = top_250_tracks[cols_order]

In [28]:
top_250_tracks.head()

,id,artist,title,play_count
0,0,Dwight Yoakam,You're The One,726885
1,1,Björk,Undo,648239
2,2,Kings Of Leon,Revelry,527893
3,3,Harmonia,Sehr kosmisch,425463
4,4,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Horn Concerto No. 4 in E flat K495: II. Romanc...,389880

In [29]:
top_250_tracks.to_csv('top_250_tracks.csv', index=False)

# Top-100 tracks by genre

It should return on a given genre a dataframe with the following fields: index number, artist name, track title, play count. The table should be sorted by the play count descendingly. You should only use the major genre to perform the subtask.

In [33]:
genres = pd.read_csv(MSD_TAGTRAUM_FILE_PATH,
                     sep='\t',
                     names=('track_id', 'majority-genre', 'minority-genre'),
                     comment='#')

In [37]:
genres.head()

             track_id majority-genre minority-genre
0  TRAAAAK128F9318786           Rock            NaN
1  TRAAAAW128F429D538            Rap            NaN
2  TRAAABD128F429CF47           Rock            RnB
3  TRAAADJ128F4287B47           Rock            NaN
4  TRAAADZ128F9348C2E          Latin            NaN

In [35]:
genres_tracks = pd.merge(genres, unique_tracks)

In [38]:
genres_tracks.head()

,track_id,majority-genre,minority-genre,song_id,artist,title
0,TRAAAAK128F9318786,Rock,NaN,SOBLFFE12AF72AA5BA,Adelitas Way,Scream
1,TRAAAAW128F429D538,Rap,NaN,SOMZWCG12A8C13C480,Casual,I Didn't Mean To
2,TRAAABD128F429CF47,Rock,RnB,SOCIWDW12A8C13D406,The Box Tops,Soul Deep
3,TRAAADJ128F4287B47,Rock,NaN,SOCSNVI12A8C13ECC2,Big Brother & The Holding Company,Heartache People
4,TRAAADZ128F9348C2E,Latin,NaN,SOXVLOJ12AB0189215,Sonora Santanera,Amor De Cabaret